[Unit]
Description=Stop Viper Scraper Service at 12 Noon and 12 Midnight

[Timer]
OnCalendar=*-*-* 12:00:00
Unit=viper_scraper.service

OnCalendar=*-*-* 00:00:00
Unit=viper_scraper.service

[Install]
WantedBy=timers.target
